@import url(../css/fonts.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    margin: 0 auto;
}
.contact{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.contact__title{
    width: 1200px;
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #000000;
justify-content: center;
padding: 107px 0 57px 0;
}
.contact__line{
    width: 170px;
height: 0px;
border: 1px solid #EC7979;
margin-left: 514px;
}
.contact__text{
    width: 1200px;
    font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
color: #86878B;
padding-top: 40px;
}
.form__item{
    display: flex;
    flex-direction: column;
    width: 571px;
}
input{
    resize: none;
    outline: none;
    height: 51px;
    font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
color: #BDBDBD;
border: none;
border-bottom: 1px solid #BDBDBD;
}
.form__data{
    display: flex;
    justify-content: space-between;
    padding-top: 73px;
}
textarea{
    resize: none;
    outline: none;
    width: 569px;
    height: 153px;
    font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
color: #BDBDBD;
border: none;
border-bottom: 1px solid #BDBDBD;
}
textarea[placeholder="Message"]{
    padding-top: 16px;
}
#form__btn__item{
    width: 370px;
    height: 58px;
    background: #EC7979;
    font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;
justify-content: center;
color: #FFFFFF;
border: none;
}
.form__btn{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
input[type="text"]{
    color: black;
}
input[type="email"]{
    color: black;
}
input[type="password"]{
    color: black;
}
textarea[name="form__meassage__item"]{
    color: black;
}
#form__btn__item:hover{
    background: #AB4949;
}
#form__btn__item:active{
    background: #EC7979;
}
.footer{
    margin: 0 auto;
    background: #000000;
}
.footer__net{
display: flex;
justify-content: center;
padding-top: 40px;
}
.footer__net__item{
    padding-left: 43px;
}
.footer__text{
    font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
color: rgba(255, 255, 255, 0.5);
padding: 32px 0 27px 0;
}