@import "fonts.css";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title{
    font-family: 'Raleway', sans-serif;
    width: 1200px;
    height: 150px;
    font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #000000;
padding-top: 57px;
}

.line{
    width: 170px;
    height: 0px;
    border: 1px solid #EC7979;
    margin: 0 auto;
}

.subtitle, .sub{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
}

.subtitle{
    width: 1200px;
    height: 21px;
    margin-top: 40px;
}

.pricing_carts{
    margin-top: 59px;
}

.pricing_carts_optima, .pricing_carts_basic, .pricing_carts_pro{
    display: inline-block;
    width: 370px;
}
.pricing_carts_item_title{
    font-family: 'Open Sans', sans-serif;
    width: 370px;
    height: 60px;
    font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
align-items: center;
text-align: center;
text-transform: capitalize;
color: #FFFFFF;
background-color: #333333;
padding-top: 16px;
}

.pricing_carts_basic, .pricing_carts_pro{
    padding-top: 20px;
}

.pricing_carts_optima{
    vertical-align: top;
    margin: 0 30px;
}

.pricing_carts_item_price{
    font-family: 'Raleway', sans-serif;
    width: 370px;
    height: 100px;
    font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
align-items: center;
text-align: center;
color: #FFFFFF;
background: #333333;
border-top: 2px solid #F5F5F5;
border-bottom: 2px solid #F5F5F5;
padding-top: 29px;
}

.pricing_carts{
    width: 1200px;
    /*height: 530px;*/
}


.Free_for_life, .list{
    width: 370px;
    height: 50px;
}

.Free_for_life{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
align-items: center;
text-align: center;
color: rgba(255, 255, 255, 0.5);
background: #333333;
padding-top: 15px;
}

.list{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
align-items: center;
text-align: center;
text-transform: capitalize;
color: #86878B;
background: #FFFFFF;
padding-top: 15px;
}

.shadow{
    box-shadow: 0 0 10px #c8c1c1;
}

body{
    background: #F5F5F5;
    
}