*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    margin: 0 auto;
}
.content{
    max-width: 692px;
    margin: 0 auto;
}
p{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 34px;
display: flex;
align-items: center;
color: #424242;
}
.coments{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 125%;
display: flex;
align-items: center;
color: #424242;
}
#form{
    resize: none;
    outline: none;
    border: 1px solid #BDBDBD;
border-radius: 83px;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
padding-left: 24px;
color: #BDBDBD;
}
.city{
    width: 520px;
    height: 50px;
    margin-bottom: 24px;
}

select{
    width: 520px;
    height: 50px;
    margin-bottom: 24px; 
}
.street{
    width: 254px;
height: 50px;
margin-bottom: 24px;
}
.home{
    width: 130px;
height: 50px;
}
.apart{
    width: 130px;
height: 50px;
}
.index{
    width: 130px;
height: 50px;
}
.form__street{
    display: flex;
    justify-content: space-between;
}
textarea{
    resize: none;
    outline: none;
    width: 692px;
    height: 50px;
    padding-top: 17px;
}

.title{
    padding: 64px 0 32px 0;
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 34px;
display: flex;
align-items: center;
color: #424242;
}
.name{
    width: 220px;
height: 50px;
}
.form__name{
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}
.form__phone{
    padding-bottom: 8px;
}
.email{
    width: 456px;
height: 50px;
}
.form__email{
    padding: 27px 0 8px 0;
}
.label{
    
      font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #424242;
padding-left: 16px;
}
input[type="checkbox"]{
    width: 30px;
height: 30px;
border-radius: 7px;
cursor:pointer;
}
.form__news{
    display: flex;
    padding-top: 24px;
}
.radio{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
color: #424242;
padding-left: 16px;
}
.pay{
    display: flex;
    padding-bottom: 8px;
}
input[type="radio"]{
    cursor:pointer;
    width: 31px;
height: 31px;
}
button{
    cursor:pointer;
    width: 300px;
    height: 58px;
    background: pink;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    justify-content: center;
    color: #FFFFFF;
    border: none;
    border-radius: 75px;
}
.form__btn{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
button:hover{
    color: #EC7979;
    border: 2px solid #EC7979;
}
button:active{
    background: #AB4949;
    color: #FFFFFF;
    border: none;
